# dependencies
node_modules/
.pnpm/
.pnp.*
.pnpm-store/
.env
.env.*

# build output
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# VS Code settings
.vscode/

# local env
*.local

# Astro cache
.astro/

# Vercel files
.vercel/